[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "zsh/ohmyzsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "vim/bundle/gruvbox"]
	path = vim/bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/pack/vendor/start/lightline.vim"]
	path = vim/pack/vendor/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "vim/pack/vendor/start/ctrlp.vim"]
	path = vim/pack/vendor/start/ctrlp.vim
	url = https://github.com/itchyny/ctrlp.vim.git
[submodule "zsh/plugins/zsh-autosuggestions"]
	path = zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh/plugins/zsh-completions"]
	path = zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/plugins/zsh-256color"]
	path = zsh/plugins/zsh-256color
	url = https://github.com/chrissicool/zsh-256color.git
