[Unit]
Description=grobi display auto config daemon

[Service]
Type=simple
ExecStart=/bin/sh -c "grobi watch -v -C ~/.config/grobi/grobi.conf"
Restart=always
RestartSec=2s

[Install]
WantedBy=default.target
